#Groupe_54 {
	position: absolute;
	width: 411px;
	height: 456px;
	left: 478px;
	top: 230px;
	overflow: visible;
}
#Groupe_44 {
	position: absolute;
	width: 411px;
	height: 456px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	opacity: 0.62;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 411px;
	height: 456px;
	left: 0px;
	top: 0px;
}
#FormForm_GroupHelperDefault {
	position: absolute;
	width: 271px;
	height: 88px;
	left: 70px;
	top: 98px;
	overflow: visible;
}
#Helper_Text {
	left: 0px;
	top: 72px;
	position: absolute;
	overflow: visible;
	width: 270.5px;
	height: 16px;
	line-height: 16px;
	margin-top: -2px;
	text-align: left;
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(134,142,150,1);
}
#FormInputTextDefault {
	position: absolute;
	width: 270px;
	height: 38px;
	left: 1px;
	top: 30.693px;
	overflow: visible;
}
#InputBase {
	position: absolute;
	width: 270px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#InputBase_u {
	fill: rgba(255,255,255,1);
	stroke: rgba(224,224,224,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.InputBase_u {
	position: absolute;
	overflow: visible;
	width: 272px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Text_State {
	left: 12.5px;
	top: 6.5px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(134,141,150,1);
}
#Group_Label {
	left: 0.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 270.5px;
	height: 24px;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(33,37,41,1);
}
#FormForm_GroupBasicDefault {
	position: absolute;
	width: 270.5px;
	height: 69px;
	left: 80px;
	top: 198px;
	overflow: visible;
}
#Group_Label_y {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(33,37,41,1);
}
#FormInputTextDefault_z {
	position: absolute;
	width: 270.5px;
	height: 38px;
	left: 0px;
	top: 31px;
	overflow: visible;
}
#InputBase_ {
	position: absolute;
	width: 270.5px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#InputBase_ba {
	fill: rgba(255,255,255,1);
	stroke: rgba(224,224,224,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.InputBase_ba {
	position: absolute;
	overflow: visible;
	width: 272.5px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Text_State_ {
	left: 12.5px;
	top: 6.5px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(134,141,150,1);
}
#ButtonDefaultPrimary {
	position: absolute;
	width: 66px;
	height: 37px;
	left: 164px;
	top: 295px;
	overflow: visible;
	padding: 9px 16px 11px 16px;
}
#Primary__007BFF {
	fill: rgba(0,123,255,1);
}
.Primary__007BFF {
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 37px;
	left: 0px;
	top: 0px;
}
#login_ {
	left: 16px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#n__HeadingH1 {
	position: absolute;
	width: 101px;
	height: 73px;
	left: 155px;
	top: 31px;
	overflow: visible;
}
#n__HeadingH1_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 102px;
	height: 73px;
	text-align: left;
	font-family: HelveticaNeue-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(52,58,64,1);
}



