<form id="Groupe_47" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <svg class="Rectangle_1">
        <rect id="Rectangle_1" rx="103" ry="103" x="0" y="0" width="411" height="406">
        </rect>
    </svg>
    <button id="ButtonDefaultPrimary" class="Button_Default_Primary" type="submit" [disabled]="f.invalid">
        <svg class="Primary__007BFF">
            <rect id="Primary__007BFF" rx="5" ry="5" x="0" y="0" width="66" height="37">
            </rect>
        </svg>
        <div id="save">
            <span>save</span>
        </div>
    </button>
    <h1 id="n__HeadingH1" class="1__Heading_H1">
        <div id="n__HeadingH1_t">
            <span>MyProfile</span>
        </div>
    </h1>
    <div id="FormForm_GroupBasicDefault" class="Form_Form_Group_Basic_Default">
        <div for="role" id="Group_Label">
            <label>role</label>
        </div>
        <select id="FormSelectDefault" class="Form_Select_Default" name="role" ngModel>
            <div id="InputBase" class="Input_Base">
                <svg class="InputBase_y">
                    <rect id="InputBase_y" rx="5" ry="5" x="0" y="0" width="276" height="38">
                    </rect>
                </svg>
            </div>
            <div id="icondouble_caret" class="icon_double_caret">
                <svg class="base">
                    <rect id="base" rx="0" ry="0" x="0" y="0" width="15" height="15">
                    </rect>
                </svg>
                <svg class="select" viewBox="3886.877 524.493 8.612 4.371">
                    <path id="select" d="M 3886.877197265625 524.4929809570312 L 3891.265869140625 528.8643188476562 L 3895.4892578125 524.4929809570312">
                    </path>
                </svg>
            </div>
            <option value=""></option>
            <option value="alchimiste">Alchimiste</option>
            <option value="guerrier">Guerrier</option>
            <option value="espions">Espion</option>
            <option value="enchanteur">Enchanteur</option>
            <option value="sorcier">Sorcier</option>
        </select>
    </div>
   
</form>



