<div id="Groupe_63">
    <div id="List_GroupFlush" class="List_Group_Flush">
        <svg class="State">
            <rect id="State" rx="0" ry="0" x="0" y="0" width="400" height="49">
            </rect>
        </svg>
        <svg class="Bottom_Border">
            <rect id="Bottom_Border" rx="0" ry="0" x="0" y="0" width="400" height="1">
            </rect>
        </svg>
        <div id="Label">
            <span>name: {{schtroumpfName}}  role: {{schtroumpfRole}} </span>
        </div>
    </div>
    <button id="ButtonDefaultDanger" class="Button_Default_Danger" (click)="onSubmit()">
        <svg class="Danger__DC3545">
            <rect id="Danger__DC3545" rx="5" ry="5" x="0" y="0" width="74" height="37">
            </rect>
        </svg>
        <div id="delete">
            <span>delete</span>
        </div>
    </button>
</div>


