#Grille_de_rptition_1 {
    
    display: grid;
    width: 400px;
    height: 195px;
    left: 193.5px;
    top: 180px;
    overflow: hidden;
}
#Group {
    position: relative;
   
    display: grid;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#list-allschtroumpf {
   
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Groupe_52 {
    opacity: 0.8;
    
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Groupe_50 {
    
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#List_GroupFlush {
    
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#State {
    fill: rgba(255,255,255,1);
}
.State {
    position: absolute;
    overflow: visible;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
}
#Bottom_Border {
    fill: rgba(0,0,0,0.122);
}
.Bottom_Border {
    position: absolute;
    overflow: visible;
    width: 400px;
    height: 1px;
    left: 0px;
    top: 48px;
}
#Label {
    left: 82px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 298px;
    height: 24px;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#ButtonDefaultSuccess {
    position: absolute;
    width: 100px;
    height: 38px;
    left: 263.5px;
    top: 4px;
    overflow: visible;
    padding: 8px 20px 13px 13px;
}
#Success__28A745 {
    fill: transparent;
    stroke: rgba(40,167,69,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Success__28A745 {
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 38px;
    left: 0px;
    top: 0px;
}
#addfriend {
    left: 13px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(40,167,69,1);
}
#Group_ {
    position: absolute;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 69px;
    overflow: visible;
}
#list-allschtroumpf_ {
    position: absolute;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Groupe_52_ {
    opacity: 0.8;
    position: absolute;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Groupe_50_ {
    position: absolute;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#List_GroupFlush_ {
    position: absolute;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#State_ {
    fill: rgba(255,255,255,1);
}
.State_ {
    position: absolute;
    overflow: visible;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
}
#Bottom_Border_ {
    fill: rgba(0,0,0,0.122);
}
.Bottom_Border_ {
    position: absolute;
    overflow: visible;
    width: 400px;
    height: 1px;
    left: 0px;
    top: 48px;
}
#Label_ba {
    left: 82px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 298px;
    height: 24px;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#ButtonDefaultSuccess_bb {
    position: absolute;
    width: 100px;
    height: 38px;
    left: 263.5px;
    top: 4px;
    overflow: visible;
    padding: 8px 20px 13px 13px;
}
#Success__28A745_bc {
    fill: transparent;
    stroke: rgba(40,167,69,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Success__28A745_bc {
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 38px;
    left: 0px;
    top: 0px;
}
#addfriend_bd {
    left: 13px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(40,167,69,1);
}
#Group_be {
    position: absolute;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 138px;
    overflow: visible;
}
#list-allschtroumpf_bf {
    position: absolute;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Groupe_52_bg {
    opacity: 0.8;
    position: absolute;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Groupe_50_bh {
    position: absolute;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#List_GroupFlush_bi {
    position: absolute;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#State_bj {
    fill: rgba(255,255,255,1);
}
.State_bj {
    position: absolute;
    overflow: visible;
    width: 400px;
    height: 49px;
    left: 0px;
    top: 0px;
}
#Bottom_Border_bk {
    fill: rgba(0,0,0,0.122);
}
.Bottom_Border_bk {
    position: absolute;
    overflow: visible;
    width: 400px;
    height: 1px;
    left: 0px;
    top: 48px;
}
#Label_bl {
    left: 82px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 298px;
    height: 24px;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(33,37,41,1);
}
#ButtonDefaultSuccess_bm {
    position: absolute;
    width: 100px;
    height: 38px;
    left: 263.5px;
    top: 4px;
    overflow: visible;
    padding: 8px 20px 13px 13px;
}
#Success__28A745_bn {
    fill: transparent;
    stroke: rgba(40,167,69,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Success__28A745_bn {
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 38px;
    left: 0px;
    top: 0px;
}
#addfriend_bo {
    left: 13px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(40,167,69,1);
}


