<div id="Groupe_59">
    <div id="Groupe_58">
        <div id="Groupe_51">
            <svg class="Trac_2" viewBox="0 0 787 521">
                <path id="Trac_2" d="M 103 0 L 684 0 C 740.8853149414062 0 787 46.11466979980469 787 103 L 787 418 C 787 474.8853149414062 740.8853149414062 521 684 521 L 103 521 C 46.11466979980469 521 0 474.8853149414062 0 418 L 0 103 C 0 46.11466979980469 46.11466979980469 0 103 0 Z">
                </path>
            </svg>
            <div id="Grille_de_rptition_1">
                <app-item *ngFor="let schtroumpf of Schtroumpfs"
                [schtroumpfName]="schtroumpf.name"
                [schtroumpfRole]="schtroumpf.role"
                [index]="schtroumpf._id"
                ></app-item>
            </div>
        </div>
        <h1 id="Groupe_57">
            <div id="n__HeadingH1">
                <span>All Schtroumpf</span>>
            </div>
        </h1>
    </div>
</div>


